*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    text-decoration: none;
}

.Header {
    background-color: rgb(122, 255, 211);
    padding: 30px;
    display: flex;
    font-size: 25px;
    justify-content: space-around;
    //  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
}
    /* &__nav {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
  
    &__link {
      color: #1890ff;
      text-decoration: none;
      font-size: 1rem;
  
      &:hover {
        text-decoration: underline;
      }
    }
  
    &__separator {
      color: #999;
    }
  
    &__button {
      margin-left: 1rem;
      background-color: #1890ff;
      color: #fff;
      border: none;
      font-size: 0.9rem;
  
      &:hover {
        background-color: #0056b3;
      }
    }
  } */
  